#gm-chatbox-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #c45a03;
    color: #fff;
    font-size: 26px;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
#gm-chatbox-button.active{
    display: block;
}

#gm-chatbox-button:hover{
    background-color: #e26f0f;
}

#gm-chatbox{
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    z-index: 300;
}

#gm-chatbox.active{
    display: block;
}

#gm-chatbox input, textarea{
    width: 100%;
}

#gm-chatbox-header{
    position: relative;
    text-align: right;
}
#gm-chatbox-close{
    margin-bottom: 10px;
    display: inline-block;
}
#gm-chatbox-close:hover{
    cursor: pointer;
}

#gm-chatbox-live{
    display: none;
}
#gm-chatbox-live.active{
    display: block;
}
#gm-chatbox-initialized{
    display: none;
}
#gm-chatbox-initialized.active{
    display: block;
}
#gm-chatbox-login{
    display: none;
}
#gm-chatbox-login .gm-chatbox-login-control{
    margin-bottom: 5px;
}
#gm-chatbox-login.active{
    display: table-row;
    height: 250px;
}
#gm-chatbox-mail{
    display: none;
}
#gm-chatbox-mail.active{
    display: block;
}
#gm-chatbox-mail .form-control{
    margin-bottom: 5px;
}

#gm-chatbox-messages{
    height: 250px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll;
}
#gm-chatbox-message{
    font-size: 14px;
    padding: 5px;
}
#gm-chatbox-btnSendMail{
    display: inline-block;
    display: inline;
    text-align: center;
}

.chatbox-item-own { 
    position: relative; 
    background: #045bc6; 
    border-radius: .4em;
    color: #fff;
    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
} 
.chatbox-item-own:after 
{ 
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    width: 0; 
    height: 0; 
    border: 5px solid transparent; 
    border-right-color: #045bc6; 
    border-left: 0; 
    margin-top: -5px; 
    margin-left: -5px;
}

.chatbox-item-party { 
    position: relative; 
    background: #79df96; 
    border-radius: .4em;
    color: #000;
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
} 
.chatbox-item-party:after 
{ 
    content: ''; 
    position: absolute; 
    right: 0; 
    top: 50%; 
    width: 0; 
    height: 0; 
    border: 5px solid transparent; 
    border-left-color: #79df96; 
    border-right: 0; 
    margin-top: -5px; 
    margin-right: -5px;
}